version: '3'
services:
{%- if miner.ether %}
  barrenero-miner-ether:
    image: perdy/barrenero-miner-ether:latest
    container_name: barrenero-miner-ether
    volumes:
      - {{ common.path }}miner/:/srv/apps/barrenero-miner-ether/config/
      - {{ common.logs }}miner/ether/:/srv/apps/barrenero-miner-ether/logs/
    command: ["start"]
{% endif -%}
{%- if miner.storj %}
  barrenero-miner-storj:
    image: perdy/barrenero-miner-storj:latest
    container_name: barrenero-miner-storj
    ports:
      - {{ miner.storj.ports }}:{{ miner.storj.ports }}
    volumes:
      - {{ miner.storj.storage }}:/srv/apps/barrenero-miner-storj/storage/
      - {{ common.path }}miner/:/srv/apps/barrenero-miner-storj/config/
      - {{ common.logs }}miner/storj:/srv/apps/barrenero-miner-storj/logs/
    command: ["start"]
{% endif -%}
{%- if api %}
  barrenero-api:
    image: perdy/barrenero-api:latest
    container_name: barrenero-api
    ports:
      - 80:80
    env_file: {{ common.path }}api/setup.cfg
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ common.path }}api/:/srv/apps/barrenero-api/config/
      - {{ common.logs }}:/srv/apps/barrenero-api/logs/
    command: ["start"]
{% endif -%}
{%- if telegraf %}
  barrenero-telegraf:
    image: perdy/barrenero-telegraf:latest
    container_name: barrenero-telegraf
    links:
      - barrenero-api
    volumes:
      - {{ common.path }}telegraf/:/etc/telegraf/
    command: ["telegraf"]
{% endif -%}
{%- if telegram %}
  barrenero-telegram:
    image: perdy/barrenero-telegram:latest
    container_name: barrenero-telegram
    links:
      - barrenero-api
    volumes:
      - {{ common.path }}telegram/:/src/apps/barrenero-telegram/config/
      - {{ common.logs }}telegram/:/srv/apps/barrenero-telegram/logs/
    command: ["start"]
{% endif -%}
