[Unit]
Description=Barrenero Stack
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory={{ shared.lib }}
Restart=always
ExecStart=/usr/sbin/docker-compose up
ExecStop=/usr/sbin/docker-compose down

[Install]
WantedBy=default.target