[ether]
bin = ethminer
args = -U --cuda-parallel-hash 4 --farm-recheck 200
pool_primary = eth-eu1.nanopool.org:9999
pool_secondary = eth-eu2.nanopool.org:9999
wallet = {{ common.wallet }}
worker = {{ miner.ether.worker }}
email = {{ common.email }}